.App {
  text-align: center;
}

.form {
  padding: 10px;
}

.item1 {
  grid-area: header;
}
.item2 {
  grid-area: left;
}
.item3 {
  grid-area: main;
}
.item4 {
  grid-area: right;
}
.item5 {
  grid-area: footer;
}

.gridContainer {
  display: grid;
  grid-template-areas:
    "header header header header header header"
    "left left main main right right"
    "footer footer footer footer footer footer";
}

.gridContainer > div {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
  border: 1px solid black;
  border-collapse: collapse;
}
